@import "variables";
@import "important-1";

div.main-content .next-content .box2 h4{
    color:$myColor1;
    font-family: $myFontFamilyE;
    font-weight: $myFontWeight;
}
div.main-content .next-content .box2 h4 span{
    font-size: 50px;
}
div.main-content .next-content .box2 h5{
    font: {
        family: $myFontFamilyP;
    }
    color: $myColor2;

    span{
        font: {
            family:$myFontFamilyE;
            size: $myFontSize1;
            weight: $myFontWeight;
        }

    }

}
div.main-content .next-content{

 .box2{
    p{
        font: {
            family:$myFontFamilyP;
        }
        color: $myColor2;
        text: {
            align: justify;
        }
    }
    picture{
            img{
                margin: 30px auto;
            }
    }
    h6{
        color: $myColor2;
        font: {
            weight: $myFontWeight;
            size: 16px;
            family: $myFontFamilyP;
        }
        line-height: 3;
    }
    ul{
        font: {
            weight: 500;
            family: $myFontFamilyP;
            
        }
        color: $myColor2;
        line-height: 1;
       
        li::before {
            content: ".";
            color: $myColor3;
            font-weight: $myFontWeight;
            display: inline-block;
            width: 10px;
            margin-left: 7px;
            font: {
                size: 40px;
            }
            
        }
    }

  }
  // for js test just
  .box3{
    // width: 100px;
    margin: 40px;
    height: auto;
    padding: 50px;
    background: {
        color: rgb(223, 209, 133);
    }
    #js-test{
        
    }
}
}
// for js test just

     

