// form important color or other proprety in other sass file
@import "variables";
@import "important-1";

header{
    // grid parent element
    display: grid;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: {
        image: linear-gradient(to right, $myColor1, $myColor2);
    }
    // grid items
    .white-cloud{
        background: {
            color: $myColor3;
        }

    }
    
}
.main{
    .jsprojects{
        background-color: blanchedalmond;
        width: 100%;
        height: 500px;
    }
}
     


