header {
  display: grid;
  width: 100%;
  height: 600px;
  overflow: hidden;
  background-image: linear-gradient(to right, #4f41b8, #0a9ec0)
}

header .white-cloud {
  background-color: #fff
}

.main .jsprojects {
  background-color: #ffebcd;
  width: 100%;
  height: 500px
}