@font-face {
    font-family: Tanha;
    src: url('../fonts/Tanha-FD-WOL.eot');
    src: url('../fonts/Tanha-FD-WOL.ttf') format('embedded-opentype'), url('../fonts/Tanha-FD-WOL.woff') format('woff'), url('../fonts/Tanha-FD-WOL.woff2') format('truetype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0 none;
    direction: rtl;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

div.main-content {
    width: 1024px;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
}

div.main-content:after {
    content: "";
    display: table;
    clear: both;
}

div.main-content .next-content {
    float: right;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    width: 69%;
    margin: 0 12px 0 15px;
    /* end del */
    /* background-color: red; */
}

/* begin box1 with flexbox layout tecnic box is flex container*/
div.main-content .next-content .box1 {
    display: flex;
    flex-flow: column nowrap;
    /* padding: 0; */
    /* end del */
    /* background-color: pink; */
}

div.main-content .next-content .box1 .item1 {
    flex: 0 0 152px;
    background-image: url('../images/item1img1.png');
    background-repeat: no-repeat;
    /* not be good when use both ! */
    /* background-attachment: fixed; */
    background-size: cover;
    /* responsive this */
    background-size: 100% 100%;
    position: relative;

}

div.main-content .next-content .box1 .item1 video {
    display: none;
}

div.main-content .next-content .box1 .item1 img {
    max-width: 110px;
    height: auto;
    position: absolute;
    right: 10px;
    top: 77px;
    border: white 1px solid;
    border-radius: 15px;
    z-index: 1;
}

div.main-content .next-content .box1 .item1 img:hover {
    box-shadow: 5px 5px rgba(77, 224, 230);
}

div.main-content .next-content .box1 .item2 {
    background-color: #f5f5f5;
    flex: 0 0 55px;
    position: relative;
    z-index: 0;
    margin-top: 4px;
    padding: 15px;
    border: solid 1px #cccccc;
}

div.main-content .next-content .box1 .item2 h2 {
    font-size: 13pt;
    color: #8d8c8c;
    font-family: sans-serif;
    font-weight: 400;
    text-indent: 120px;
}

div.main-content .next-content .box1 .item2 p {
    position: absolute;
    left: 109px;
    top: 14px;
}

div.main-content .next-content .box1 .item2 p #price1 {
    text-decoration: line-through;
    color: #999999;
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: 300;
}

div.main-content .next-content .box1 .item2 p #price2 {
    font-family: sans-serif;
    font-size: 15pt;
    font-weight: 800;
    color: #38bbbb;
    margin-right: 6px;
}

div.main-content .next-content .box1 .item2 p #price3 {
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: 300;
    color: #949494;
    margin-right: 6px;
}

div.main-content .next-content .box1 .item2 form {
    position: absolute;
    left: 18px;
    top: 15px;

}

div.main-content .next-content .box1 .item2 form:hover {
    top: 11px;
}

div.main-content .next-content .box1 .item2 form input {
    background-color: #27bec4;
    color: white;
    font-family: Tanha;
    font-weight: 400;
    border-radius: 10px;
    padding: 2px 6px;
    transition: height 1s;
}

div.main-content .next-content .box1 .item2 form input:hover {
    height: 30px;
    background-color: orange;


}

div.main-content .next-content .box1 .item3 {
    background-color: #cccccc;
    flex: 0 0 34px;
    position: relative;
    padding: 15px;
}

div.main-content .next-content .box1 .item3 p {
    color: #666666;

}

div.main-content .next-content .box1 .item3 p:hover {
    color: #38bbbb;
}

div.main-content .next-content .box1 .item3 p #text1 {
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: 800;
}

div.main-content .next-content .box1 .item3 p #text2 {
    font-family: sans-serif;
    font-size: 8pt;
    font-w eight: 500;
}

div.main-content .next-content .box1 .item3 p #text3 {
    font-family: sans-serif;

    margin-right: 13px;
}

div.main-content .next-content .box1 .item3 p #text3 #text4 {
    font-family: sans-serif;
    font-size: 8pt;
    font-weight: 500;
    font-size: 12pt;
    font-weight: 800;
}

div.main-content .next-content .box1 .item3 p #text3 #text5 {
    font-size: 8pt;
    font-weight: 500;
    font-family: Tanha;
}

div.main-content .next-content .box1 .item3 .numbers {
    position: absolute;
    top: 12px;
    left: 85px;
}

div.main-content .next-content .box1 .item3 .numbers {
    font-size: 11pt;
}

div.main-content .next-content .box1 .item3 .numbers #number1 {
    font-size: 19pt;
    color: #ff6633;
    font-weight: 900;
}

div.main-content .next-content .box1 .item3 .button {
    position: absolute;
    top: 20px;
    left: 17px;
    width: 60px;
    height: 15px;
    border-right: 16px solid #cccccc;
    border-left: 4px solid #cccccc;
    border-top: 3px solid #cccccc;
    border-bottom: 3px solid #cccccc;
    background-color: #ff6633;
    outline: solid #d0d0d0 1px;

}

div.main-content .next-content .box1 .item4 {
    background-color: #f5f5f5;
    flex: 0 0 67px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;

}

div.main-content .next-content .box1 .item4 div:hover {
    transform: rotate(5deg);

}

div.main-content .next-content .box1 .item4 div:hover i {
    color: turquoise;
}

div.main-content .next-content .box1 .item4 .orange {
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    height: 35px;
    flex: 0 0 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

div.main-content .next-content .box1 .item4 .orange i {
    color: #ff6a37;
}

div.main-content .next-content .box1 .item4 .orange i:hover {
    color: turquoise;
}

div.main-content .next-content .box1 .item4 .orange p {
    font-size: 10pt;
    margin-right: 10px;
    font-size: 9pt;
    font-family: Tanha;
    color: #666666;
    font-weight: 500;
}

div.main-content .info-side {
    float: right;
    display: grid;
    grid-row-gap: 16px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    width: 27%;
    margin: 0 0 0 12px;
    background-color: blue;
}

div.main-content .info-side div {
    background-color: rgb(134, 177, 218);
    padding: 15px;
}

/* for responsive just with mediaquery using for float layout in body but now id ont use it & use 
in media query for float */
.col-01 {
    width: 8.33%;
}

.col-02 {
    width: 16.66%;
}

.col-03 {
    width: 25%;
}

.col-04 {
    width: 33.33%;
}

.col-05 {
    width: 41.66%;
}

.col-06 {
    width: 50%;
}

.col-07 {
    width: 58.33%;
}

.col-08 {
    width: 66.66%;
}

.col-09 {
    width: 75%;
}

.col-010 {
    width: 83.33%;
}

.col-011 {
    width: 91.66%;
}

.col-012 {
    width: 100%;
}

[class*="col-"] {
    float: right;
}

/* responsive with media query & grid to gether for other layouts & any device*/
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }

    div.main-content {
        width: 100%;
        height: auto;
        /* background-color: yellow; */
        margin: 10px auto;
    }

    div.main-content .next-content {
        float: none;
        width: 100%;
        margin: 0;
    }

    div.main-content .info-side {
        float: none;
        width: 100%;
        margin: 0;
    }

    div.main-content .next-content .box1 .item1 video {
        display: block;
        max-width: 100%;
        height: auto;
    }

    div.main-content .next-content .box1 .item1 img {
        display: none;
    }

    div.main-content .next-content .box1 .item2 h2 {
        font-size: 3vw;
        color: #8d8c8c;
        font-family: sans-serif;
        font-weight: 900;
        text-indent: 0;
    }

    div.main-content .next-content .box1 .item2 p {
        display: none;
    }

    div.main-content .next-content .box1 .item3 {
        background-color: #cccccc;
        flex: 0 0 34px;
        /* position: relative; */
        /* padding: 15px; */
        /* width: 60px; */
        /* height: 15px; */
        border-right: 95px solid #cccccc;
        border-left: 4px solid #cccccc;
        border-top: 3px solid #cccccc;
        border-bottom: 3px solid #cccccc;
        background-color: #ff6633;
        outline: solid #d0d0d0 1px;

    }

    div.main-content .next-content .box1 .item3 .button {
        display: none;

    }

    div.main-content .next-content .box1 .item3 p {
        display: none;

    }

    div.main-content .next-content .box1 .item4 {
        background-color: #f5f5f5;
        flex: 0 0 63px;
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;

    }

    div.main-content .next-content .box1 .item4 .orange {
        background-color: #ffffff;
        border: 1px solid #dfdfdf;
        height: 35px;
        flex: 0 0 50%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: space-between;
    }

    div.main-content .next-content .box1 .item4 .orange1 {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    div.main-content {
        width: 90%;
        height: auto;
        /* background-color: yellow; */
        margin: 10px auto;
    }

    div.main-content .next-content {
        float: none;
        width: 100%;
        margin: 0;
    }

    div.main-content .info-side {
        float: none;
        width: 100%;
        margin: 0;

    }

    .col-t-1 {
        width: 8.33%;
    }

    .col-t-2 {
        width: 16.66%;
    }

    .col-t-3 {
        width: 25%;
    }

    .col-t-4 {
        width: 33.33%;
    }

    .col-t-5 {
        width: 41.66%;
    }

    .col-t-6 {
        width: 50%;
    }

    .col-t-7 {
        width: 58.33%;
    }

    .col-t-8 {
        width: 66.66%;
    }

    .col-t-9 {
        width: 75%;
    }

    .col-t-10 {
        width: 83.33%;
    }

    .col-t-11 {
        width: 91.66%;
    }

    .col-t-12 {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

/*@media only screen and (min-width: 768px) {...}
 Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    div.main-content {
        width: 1024px;
        height: auto;
        background-color: #f5f5f5;
    }

    div.main-content .next-content {
        float: right;
        width: 69%;
        margin: 0 12px 0 15px;
    }

    div.main-content .info-side {
        float: right;
        width: 27%;
        margin: 0 0 0 12px;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    div.main-content {
        width: 90%;
        height: auto;
        background-color: #f5f5f5;

    }

    div.main-content .next-content {
        float: right;
        width: 69%;
        margin: 0 12px 0 15px;
    }

    div.main-content .info-side {
        float: right;
        width: 27%;
        margin: 0 0 0 12px;
    }

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}
